/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --cover-image: url(../images/cover-image-dark.png);
  --accent-bg: #000028;
  --accent-content-txt: #FF0070;
  --accent-bg: #ff0070;
  --accent-txt: #F1B2CE;
  --accent-txt-bold: #000028;
  --accent-heading-footer-clr: #DB00FF;
  --decor-rec-item: #FF0070;
   background-color: #000028;
}

:root {
  --accent-bg: #000028;
  --accent-content-txt:#FF0070;
  --accent-bg: #FF0070;
  --accent-txt: #F1B2CE;
  --accent-txt-bold: #000028;
  --accent-heading-footer-clr: #DB00FF;
  --accent-fs-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --accent-fs-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --cover-image: url(../images/cover-image-dark.png);
  --decor-rec-item: #FF0070;
}
