/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --cover-image: url(../images/cover-image-dark.png);
  --accent-content-txt: #ff0070;
  --accent-bg: #ff0070;
  --accent-txt: #f1b2ce;
  --accent-txt-bold: #000028;
  --accent-heading-footer-clr: #db00ff;
  --decor-rec-item: #ff0070;
  --background-color: #000028;
}


