/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --cover-image: url(../images/cover-image-light.png);
  --accent-bg: #ffc2e6;
  --accent-content-txt: #000028;
  --accent-bg:#FF8DCB;
  --accent-txt:#000028;
  --accent-txt-bold:#000028;
  --accent-heading-footer-clr:  #ffc2e6;
  --decor-rec-item:transparent;
   /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}
@media (prefers-color-scheme: dark) {
:root {
  --accent-bg: #ffc2e6;
  --accent-content-txt: #000028;
  --accent-bg:#FF8DCB;
  --accent-txt:#000028;
  --accent-txt-bold:#000028;
  --accent-heading-footer-clr:  #ffc2e6;
  --decor-rec-item:transparent;
  --accent-fs-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --accent-fs-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --cover-image: url(../images/cover-image-light.png);
}
}
.accented-shadow-text {
  text-shadow: 4px 4px 0 var(--accent-bg);
}
.page.theme_light .decor-rec-item {
  display: none;
}