/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--accent-txt);
  font-size: 18px;
  gap: 20px;
  padding: 10px 10px 10px 10px;
  background-repeat: no-repeat;
  background-image: var(--cover-image);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

@media (min-width: 1024px) {
  .accented-shadow-text {
    font-size: var(--accent-fs-desktop);
  }
}

.accented-shadow-text {
  color: var(--accent-heading-footer-clr);
  font-size: var(--accent-fs-mobile);
  font-weight: 700;
  line-height: 95.7px;
  text-decoration: none;
  text-shadow: 4px 4px 0 var(--accent-content-txt);
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.header__heading {
  margin-block-start:10px;
}

.decorated-zone {
  position: relative;
}

.decor-rec-item {
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: center;
  color: var(--decor-rec-item);
  inset-block-start: 0;
  inset-inline-end: 0;
}

.decor-rec-item::after {
  content: '';
  display: block;
  width: 7px;
  height: 7px;
  background-color: var(--decor-rec-item);
  border-radius: 50%;
  box-shadow: 0 0 5px 4px var(--decor-rec-item);
  margin-right: 7px;
  margin-left: 7px;
  position: relative;
}
@media (width >= 1024px) {

  .header__text {
    margin-block-end: 20px;
    inline-size: 48vw;
  }
}
@media (width >= 768px) {
  .decorated-zone::before,
  .decorated-zone::after {
    content: "";
    position: absolute;
    inline-size: 25px;
    block-size: 25px;
    align-self: flex-start;
  }
}
.decorated-zone::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--accent-content-txt);
  border-block-start: 1px solid var(--accent-content-txt);
  inset-block-start: 0;
  inset-inline-end: 0; 
}

.decorated-zone::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--accent-content-txt);
  border-block-end: 1px solid var(--accent-content-txt);
  inset-block-end: 0px;
}


.header__theme-menu {
  display: grid;
  justify-content: end;
}

.accented-text-bold {
  background-color: var(--accent-bg);
  color: var(--accent-txt-bold);
  font-weight: bold;
}

.header__theme-menu-button {
  border: none;
  color: var(--accent-content-txt);
  background-color: transparent;
  padding: 2px 13px 2px;
  line-height: 100%;
}

.header__theme-menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-content-txt);
  pointer-events: none;
 
}

.accented-block {
  color: var(--accent-txt-bold);
  background-color: var(--accent-bg);
  font-size: 18px;
  line-height: 130%;
}

.accented-bold {
  font-weight: 700;
}

.second-level {
  color: var(--accent-content-txt);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}
.why__list-text-section-text {
  font-size: 18px;
  line-height: 23.4px;
}
.why__difficult-list-text-section-text {
  font-size: 18px;
  line-height: 23.4px; 
}
.no-items-list {
  list-style: none;
}

.accented-text {
  color: var(--accent-txt-bold);
  background-color: var(--accent-bg);
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
}

.pictures__img {
  width: 100%;
  height: auto;
}


.why__difficult {
  margin: 0;
  margin-block-end:30px;
  line-height: 23.4px;
}

.accented-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var( --accent-content-txt);
}
.accented-link:hover {
  border-block-end: 1px solid var(--accent-content-txt);
}

.accented-link:focus {
  outline: none;
}

.accented-link:focus-visible {
  outline: 1px solid var(--accent-content-txt);
}

.what__low {
  line-height: 23.4px;
}

.how__conc {
  line-height: 23.4px;
  margin-block-start: 58px;
}

.accented-block {
  margin-block-start:40px;
  margin-block-end:50px;
}

.how__conc-list-item {
  margin-block-start:30px;
}

main {
  display: grid;
  margin: 20px 0px 0px 0px;
}

.accented-block {
  margin-block-start: 20px;
  margin-block-end: 10px; /* Отступ снизу для выделенных заголовков */
}

.accented-text-bold {
  margin-block-end: 10px;
}
  

 .footer {
  display: flex;
  block-size: 100vh;
  min-block-size: 668px;
  margin-block-start: 35px;
 }

.footer__text {
  display: grid;
  align-items: center;

}

footer.footer.decorated-zone::before {
  margin-top: 10px;
}
footer.footer.decorated-zone::after {
  margin-bottom: -10px;
}
/*
.why__difficult-heading {
  margin-block-end: 10px;
}*/

/*
.accented-text-bold, .why__list-text-section-text, .what__low-list-text-section-text, .how__conc-list-text-section-text {
  margin-block-end: 20px; 
  margin-block-start: 10px;
}



.why__difficult-heading, .what__low-heading, .how__conc-heading {
  margin-block-start: 30px;
}
*/

.what__low {
  margin-block-start: 25px;
}

.how__conc-list-title {
  margin-top: 10px;
}

.pictures {
  width: 100%;
  height: auto;
 
}


.what__low-list-item {
  min-height: 100%;
}

.pictures {
  margin: 53px 0px 0px 0px;
}


.pic {
  margin-top: 5px;
}


@media (min-width: 768px) {
  .page {
    padding: 20px;

  }

  .how__conc-list-item {
    margin-block-start:20px;
    margin-block-end: 10px;
  }
  
  .how_conc-list-title-sky-clouds {
    margin-block-start: 20px;
  }
  
  .how__conc-list-text-section-text {
    margin-block-start: 10px;
  }

   .header__theme-menu {
      margin-block-start: 172px;
      padding-block-start:0;
      align-self: flex-end;
   }

   .header__heading {
    align-self: flex-start;
    margin: 188px 0 0 -20px;

   }
   .header__text {
    display: flex;
    align-self: flex-end;
    margin-block-start: 160px;
    max-width: 364px;
   }

   .why__difficult-heading {
    max-width: 236px;
    word-wrap: break-word;
   }

   .why__difficult-list-item {
    max-width: 472px;
   }

  .why__difficult {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap:20px;

  }

  .why__difficult-heading {
    grid-column: 1;
    margin-top: 20px;
  }

  .why__difficult-list{
   margin-bottom:30px;
}

  .what__low {
    margin-block-start: 0px;
  }

  .what__low-heading {
    margin-block-start:20px;
    max-width: 236px;
  }

  .how__conc {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .how__conc-heading {
    margin-block-start: 20px;
  }

  .pictures__img {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, fit-content);
    gap:20px;
  }

 .sunset {
  grid-column: 1 / span 2;
  grid-row: 1;
 }

 .cream {
  grid-column: 3;
  grid-row: 1 / span 2;
 }

 .tape {
  grid-column: 1;
  grid-row: 2 / span 2;
 }

 .books {
  grid-column: 2;
  grid-row: 2;
 }

 .street {
  grid-column: 2 /span 2;
  grid-row:3;
 }

 .pictures__img-item {
   width: 100%;
   object-fit: cover;
   block-size: 100%;
 }

 .pic {
  margin-top: 0px;
 }

 .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  margin-block-start: 60px;
  height: calc(100vh - 40px);
 }

footer.footer.decorated-zone::before {
  margin-top: 0px;
}

footer.footer.decorated-zone::after {
    margin-bottom: 0px;
}


}


