/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--accent-txt);
  font-size: 18px;
  gap: 20px;
  padding: 10px 10px 10px 10px;
  background-repeat: no-repeat;
  background-image: var(--cover-image);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

@media (min-width: 768px) {
  .page {
    padding: 20px;
  }
}

@media (min-width: 1024px) {
  .accented-shadow-text {
    font-size: var(--accent-fs-desktop);
  }
}

.accented-shadow-text {
  color: var(--accent-heading-footer-clr);
  font-size: var(--accent-fs-mobile);
  font-weight: 700;
  line-height: 95.7px;
  text-decoration: none;
  text-shadow: 4px 4px 0 var(--accent-content-txt);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: auto max-content auto;
  align-items: center;
  min-height: 100vh;
}

.header__heading {
  margin-block-start:10px;
}

.decorated-zone {
  position: relative;
}

.decor-rec-item {
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: center;
  color: var(--decor-rec-item);
  inset-block-start: 0;
  inset-inline-end: 0;
}

.decor-rec-item::after {
  content: '';
  display: block;
  width: 7px;
  height: 7px;
  background-color: var(--decor-rec-item);
  border-radius: 50%;
  box-shadow: 0 0 5px 4px var(--decor-rec-item);
  margin-right: 7px;
  margin-left: 7px;
  position: relative;
}
@media (width >= 1024px) {

  .header__text {
    margin-block-end: 20px;
    inline-size: 48vw;
  }
}
@media (width >= 768px) {
  .decorated-zone::before,
  .decorated-zone::after {
    content: "";
    position: absolute;
    inline-size: 25px;
    block-size: 25px;
  }
}
.decorated-zone::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--accent-content-txt);
  border-block-start: 1px solid var(--accent-content-txt);
  inset-block-start: 0;
  inset-inline-end: 0; 
}

.decorated-zone::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--accent-content-txt);
  border-block-end: 1px solid var(--accent-content-txt);
  inset-block-end: 20px;
}


.header__theme-menu {
  display: grid;
  justify-content: end;
  padding-block-start: 5px;
 
}

.accented-text-bold {
  background-color: var(--accent-bg);
  color: var(--accent-txt-bold);
  font-weight: bold;
}

.header__theme-menu-button {
  border: none;
  color: var(--accent-content-txt);
  background-color: transparent;
  padding: 2px 13px 2px;
  line-height: 100%;
}

.header__theme-menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-content-txt);
  pointer-events: none;
 
}

.accented-block {
  color: var(--accent-txt-bold);
  background-color: var(--accent-bg);
  font-size: 18px;
  line-height: 130%;
}

.accented-bold {
  font-weight: 700;
}

.second-level {
  color: var(--accent-content-txt);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}
.why__list-text-section-text {
  font-size: 18px;
  line-height: 23.4px;
}
.why__difficult-list-text-section-text {
  font-size: 18px;
  line-height: 23.4px; 
}
.no-items-list {
  list-style: none;
}

.accented-text {
  color: var(--accent-txt-bold);
  background-color: var(--accent-bg);
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
}

.pictures__img {
  width: 100%;
  height: auto;
}


.why__difficult {
  margin: 0;
  margin-block-end:30px;
  line-height: 23.4px;
}

.what__low {
  line-height: 23.4px;
  margin-block-end:50px;
}
.how__conc {
  line-height: 23.4px;
}

.how__conc-list-title {
  margin-block-end:20px;
}


.accented-block {
  margin-block-end:50px;
}
main {
  display: grid;
  margin: 30px 0px 40px 0px;
}

.accented-block {
  margin-block-start: 20px;
  margin-block-end: 10px; /* Отступ снизу для выделенных заголовков */
}
.accented-text-bold {
  margin-block-end: 10px;
  }
 
/*
.why__difficult-heading {
  margin-block-end: 10px;
}*/

/*
.accented-text-bold, .why__list-text-section-text, .what__low-list-text-section-text, .how__conc-list-text-section-text {
  margin-block-end: 20px; 
  margin-block-start: 10px;
}



.why__difficult-heading, .what__low-heading, .how__conc-heading {
  margin-block-start: 30px;
}
*/

.what__low {
  margin-block-start: 25px;
}

.how__conc-list-title {
  margin-top: 10px;
}

.pictures__img {
  width: 100%;
  height: auto;
 
}

.footer {
  block-size: 100vh;
  min-block-size: 668px;
}
.what__low-list-item {
  min-height: 100%;
}
